apache-libcloud==0.20.1
backports.ssl-match-hostname==3.5.0.1
dj-database-url==0.4.1
Django==1.11.29
django-storages==1.4.1
gunicorn==19.5.0
newrelic==2.64.0.48
Pillow==8.2.0
psycopg2==2.6.1
requests==2.20.0
whitenoise==3.0
