{% load staticfiles %}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Blank</title>
	<script src="https://use.typekit.net/dih0gem.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="{% static "styleguide.css" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
	<script src="{% static "menumobile.js" %}"></script>

	<meta property="og:type" content="place" />
	<meta property="place:location:latitude"  content="59.9140184" />
	<meta property="place:location:longitude" content="10.7440962" />
	<meta property="fb:profile_id" content="blankoslo" />
	<meta property="og:title" content="Blank" />
	<meta property="og:image" content="{% static "img/blankoglogo.png" %}" />
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:description" content="Blank er et teknologi- og designmilj&oslash; med en alternativ filosofi og tiln&aelig;rming til konsulent- og arbeidslivet. Vi utvikler ogs&aring; egne produkter, har h&oslash;ye ambisjoner og m&aring; bli flere for &aring; kunne levere p&aring; m&aring;lene v&aring;re." />
	<meta property="og:site_name" content="Et teknologi- og designmilj&oslash; ."/>
	<meta property="og:locale" content="nb_NO" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Blank" />
	<meta name="twitter:description" content="Blank er et teknologi- og designmilj&oslash; med en alternativ filosofi og tiln&aelig;rming til konsulent- og arbeidslivet. Vi utvikler ogs&aring; egne produkter, har h&oslash;ye ambisjoner og m&aring; bli flere for &aring; kunne levere p&aring; m&aring;lene v&aring;re." />
	<meta name="twitter:url" content="https://www.blank.no" />
	<meta name="twitter:image" content="https://www.blank.no/static/blankoglogo.png" />

</head>

<body>

	<!-- HEADER + MENU START -->

	<div class="headercontainer">
		<div id="header">

			<a href="/" id="index" class="indexactive">
				<img alt="Blank Logo" src="{% static "img/blankutenstrek.svg" %}">
			</a>
			<div id="menu">
				<ul>
					<li><a href="/#jobb">Jobb</a></li>
					<li><a href="/#menneskene">Menneskene</a></li>
					<li><a href="/#kontakt">Kontakt</a></li>
					<li><a href="/omoss/">Om oss</a></li>
					<li><a href="https://blogg.blank.no" target="_blank">Blogg</a></li>
				</ul>
			</div>
		</div>

		<div id="mobileheader">
			<a id="mobileindex" href="/">
				<img alt="Blank Logo" src="{% static "img/BlankLogo-02.svg" %}">
			</a>

			<a href="javascript:void(0);" id="menumobile" class="menumobilebutton" onclick="openmenumobile()">
				<img src="{% static "img/navicon-02.svg" %}" alt="Meny">
			</a>

			<div id="menumobileopen" style="display:none;" onclick="openmenumobile()">
				<ul>
					<li><a href="/#jobb">Jobb</a></li>
					<li><a href="/#menneskene">Menneskene</a></li>
					<li><a href="/#kontakt">Kontakt</a></li>
					<li><a href="/omoss/">Om oss</a></li>
					<li><a href="https://blogg.blank.no" target="_blank">Blogg</a></li>
				</ul>
			</div>
		</div>
	</div>

  {% block content %}{% endblock %}

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66155927-2', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
