{% extends "web/posting_base.html" %}
{% load staticfiles %}

{% block intro %}
<div class="full bgred">
  <div class="container hero">
    <div class="twothirds bgred mobilefull left hero-design">
    </div>
    <div class="full hero-design-text">
      <h1 class="headingLarge">Bli designer i Blank</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block posting %}

<div id="jobs-list" class="twothirds left mobilefull">
  <div class="full spacing bgfff">
    <div class="boxbig">
      <p class="lead">Blank er et slags design- og teknologimiljø. Er du en drivende dyktig designer som elsker å hjelpe andre å realisere sine ideer, er du antakelig midt i blinken for oss. Vi bryr oss lite om hvilken tittel du har foran designer. Vi ønsker oss folk som tenker selv og skaper sine egne roller.</p>

      <div class="apply">
        <a class="button bgred half apply-button mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/12891615-b5ed-4061-ad3b-ab90a46b37b6/apply">Søk på stillingen</a>
        <br>
      </div>

      <div class="full" id="jobbemed">
        <h2>Lønn og betingelser</h2>
        <p>Folk skal ha god lønn og rettferdige betingelser. For å gjøre det enkelt har vi lagt ut alle betingelsene våre på <a class="textlink" href="https://betingelser.blank.no">betingelser.blank.no</a>.</p>

        <h2>Dette vil du jobbe med</h2>
        <p>Du vil jobbe med design av digitale produkter og tjenester og du bruker mye tid på lære deg nye ting eller bli enda bedre på ting du allerede kan. Vi i Blank jobber med kjente merkevarer som ice.net, reMarkable, Telenor, kolonial.no og vi jobber med startups som kanskje vil bli like kjente om en stund. I tillegg lager vi egne digitale tjenester –  mest fordi vi har lyst.</p>

        <h2>Dette ønsker vi fra deg</h2>
        <p>Du bør være en selvdrivende person som takler at vi er i utvikling. Du bør være trygg på de prosessene og metodene du trenger til å løse kundenes utfordringer, og du bør ha en trang til å utforske, undersøke og drive fagfeltet vårt fremover. Vi tror på styrken i dybde og mangfold og er ikke interessert i å ansette mer av oss selv. Vi ønsker å bli utfordret, og ønsker at du trekker oss i nye retninger.</p>

        <p><i>Hold deg fast – her kommer lista:</i></p>
        <ul class="textlist">
          <li>Du er nysgjerrig, motivert og selvdreven, fordi vi stoler på deg og gir deg tillit til å kjøre på!</li>
          <li>Du må være dyktig til å kommunisere både visuelt og muntlig, fordi det er viktig å kunne overbevise folk om at det du har laget er en sjukt god idé.</li>
          <li>Du må ha grundig forståelse for designprosess og metodikk, fordi… les punktet over.</li>
          <li>Du må trives med å lede eller bidra til designprosesser fra start til slutt, fordi samskaping er en viktig del av å være designer.</li>
          <li>Du må ønske å ta faglig ansvar, både internt og på prosjekt, fordi vi selger kunnskap og da må vi lære noe nytt hele tiden.</li>
          <li>Du kan vise til gode resultater fra tidligere prosjekter eller utdanning. Er du nyutdanna vet vi at portfolioen din ikke har hundrevis av prosjekter, og vi gleder oss til å se de du har!</li>
          <li>Det er fabelaktig hvis du har utdanning på masternivå innen tjeneste-, produkt-, eller interaksjonsdesign, eller bachelor for grafiske designere. Men her er det virkelig rom til å utfordre oss på dette!</li>
        </ul>
        <p>Hvis du ikke kan krysse av på alle punktene, stryker du dem og fyller på med noen egne.</p>

        <h2>Dette kan du forvente fra oss i Blank:</h2>
        <ul class="textlist">
          <li>Hektisk hverdag… nja, det er opp til deg hvor fort og effektivt du jobber. Innimellom kreves det at man legger inn litt ekstra, da betaler vi overtid selvfølgelig.</li>
          <li>Et godt arbeidsmiljø med latterlig stor takhøyde!</li>
          <li>Bra lønn, fordi det skal folk ha.</li>
          <li>Avsatt tid til fagutvikling, konferanser, kurs osv.</li>
          <li>Mulighet til å påvirke din egen arbeidsdag, fordi du får lov til å være med å eie sjappa. Vi eier alt sammen selv og bestemmer alt selv.</li>
          <li>Spennende prosjekter (se <a class="textlink" href="#jobbemed">dette vil du jobbe med</a>)</li>
        </ul>
        <p>Les mer om dine betingelser på <a class="textlink" href="https://betingelser.blank.no">betingelser.blank.no</a></p>


        <h2>Vil du vite mer...</h2>
        <p>...eller har du lyst til å komme innom for en kaffe og en uformell prat? Ta gjerne kontakt, vi gleder oss til å bli kjent med deg.</p>
        <br>

      </div>

      <div class="apply">
        <a class="button bgred half apply-button mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/12891615-b5ed-4061-ad3b-ab90a46b37b6/apply">Søk på stillingen</a>
        Eller send en mail til <a class="textlink" href="mailto:{{category.hiring_manager.email}}?subject=Jeg vil bli designer i blank!" >{{category.hiring_manager.email}}</a>
      </div>

    </div>
  </div>
</div>

{% endblock %}
