{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}
{% block content %}

<div class="container" id="intro">
  <div class="half right mobilefull">
    <h2 class="headingLarge">Et litt annerledes konsulent&shy;selskap</h2>
    <p class="lead">Vi hjelper norske virksomheter med å definere og nå sine mål innen digital tjenesteutvikling. Vi bygger nå opp et tverrfaglig kompetansemiljø innen design, utvikling og rådgiving som skal utfordre de etablerte sannhetene i konsulentbransjen.</p>
    <p class="lead"><a class="textlink" href="omoss.html">Les mer om Blank</a></p>
  </div>
  <div class="third left mobilefull">
    <div class="bigline bgred"></div>
  </div>
</div>

<div class="container" id="jobb">
  <div class="third left bgred-light mobilefull">
    <div class="box">
      <div class="mobiletextcenter">
        <img class="bigicon" src="{% static "img/iconblack-01.svg" %}">
      </div>
      <h3 class="headingMedium mobiletextcenter">Design og bruker&shy;opplevelse</h3>
      <div class="half line bgred mobilecenter"></div>
      <p>Hos oss står design og brukeropplevelse helt sentralt. Vi ansetter nå engasjerte tjenestedesignere, interaksjonsdesignere og grafiske designere som vil være med å sette agendaen innen digital tjenesteutvikling.</p>
      <a href="/jobb/design" class="button mobilehalf bgred mobilecenter">Se stillinger</a>
    </div>
  </div>
  <div class="third left bgblue-light mobilefull">
    <div class="box">
      <div class="mobiletextcenter">
        <img class="bigicon" src="{% static "img/iconblack-02.svg" %}">
      </div>
      <h3 class="headingMedium mobiletextcenter">Teknologi</h3>
      <div class="half line bgblue mobilecenter"></div>
      <p>Engasjerte og ambisiøse teknologer danner ryggraden i Blank og vi ønsker oss enda flere som vil være med å starte og drive dette selskapet.</p>
      <a href="/jobb/teknologi" class="button mobilehalf bgblue mobilecenter">Se stillinger</a>
    </div>
  </div>
  <div class="third left bgyellow-light mobilefull">
    <div class="box">
      <div class="mobiletextcenter">
        <img class="bigicon" src="{% static "img/iconblack-03.svg" %}">
      </div>
      <h3 class="headingMedium mobiletextcenter">Forretnings&shy;design</h3>
      <div class="half line bgyellow mobilecenter"></div>
      <p>Har du opplevd hvor vondt det kan gjøre når ingen har en plan for hvordan en digital løsning skal tas i bruk? Vi trenger tverrfaglige personer inn i et nytt og spennende fagområde.</p>
      <a href="/jobb/forretningsdesign" class="button mobilehalf bgyellow mobilecenter">Se stillinger</a>
    </div>
  </div>
</div>

<div class="container" id="menneskene">
  <div class="icontop textcenter">
    <img class="bigicon" src="{% static "img/iconblack-04.svg" %}" alt="menneskerikon">
  </div>
  <h2 class="headingLarge textcenter">Menneskene i blank</h2>

  {% for employee in all_employees %}

  <div class="third left mobilehalf bggray-light">
    <div class="box">
      <h3 class="headingNormal">{{employee.name}}</h3>
      <div class="line half {{ color_classes|random }}"></div>
      <p><a href="mailto:{{employee.email}}" class="textlink">{{employee.email}}</a></p>
      <img class="full" src="{{employee.image.url}}" alt="{{employee.name}}">
    </div>
  </div>

  {% endfor %}

<div class="container" id="kontakt">
  <div class="half left mobilefull bgred-light">
    <div class="box">
      <h2 class="headingLarge">Kontakt oss, <br>eller kom innom!</h2>
      <div class="half line bgred"></div>
      <p><a href="mailto:innboks@blankoslo.no" class="textlink">innboks@blankoslo.no</a><br>
      <a href="tel:98219394" class="textlink">982 19 394</a></p>
      <p>Blank Oslo AS<br>
      Møllergata 6<br>
      0179, Oslo</p>
      <p>Org. nr: 915 433 073</p>
      <div class="smallicon left">
        <a href="https://www.facebook.com/blankoslo/" target="_blank" title="Blank p&aring; facebook (&aring;pnes i et nytt vindu)">
          <svg id="facebook" viewBox="0 0 100 100">
            <style xmlns="http://www.w3.org/2000/svg" type="text/css">.st0{fill:#262626;}</style>
            <path xmlns="http://www.w3.org/2000/svg" id="White_1_" class="st0" d="M100,0H0v100h53.4V61.3h-13V46.2h13V35.1c0-12.9,7.9-19.9,19.4-19.9c5.5,0,10.3,0.4,11.6,0.6  v13.5l-8,0c-6.3,0-7.5,3-7.5,7.3v9.6h14.9L82,61.3H69V100h31V0z"/>
          </svg>
        </a>
      </div>
      <div class="smallicon left">
        <a href="https://www.linkedin.com/company/blankoslo/" target="_blank" title="Blank p&aring; linkedIn (&aring;pnes i et nytt vindu)">
          <svg id="linkedin" viewBox="0 0 100 100">
            <style type="text/css">.st0{fill:#262626;}</style>
            <path class="st0" d="M0,0v100h100V0H0z M34.3,76.8H22.9V40.3h11.4V76.8z M28.6,35.3c-3.6,0-6.6-2.9-6.6-6.6c0-3.6,2.9-6.6,6.6-6.6  c3.6,0,6.6,2.9,6.6,6.6C35.2,32.4,32.3,35.3,28.6,35.3z M76.8,76.8H65.5V59.1c0-4.2-0.1-9.7-5.9-9.7c-5.9,0-6.8,4.6-6.8,9.4v18.1  H41.4V40.3h10.9v5h0.2c1.5-2.9,5.2-5.9,10.7-5.9c11.5,0,13.6,7.6,13.6,17.4V76.8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="half left mobilefull" id="map"></div>
</div>
<div class="container" id="end">
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
window.onload = function () {
    var styles = [
  {
    "elementType": "labels",
    "stylers": [
      { "visibility": "off" },
    ]
  },{
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      { "visibility": "on" },
      { "color" : "#cccccc" }
    ]
  },{
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      { "visibility" : "off"},
      { "color" : "#000000" },
    ]
  },{
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      { "visibility" : "simplified"},
      { "color" : "#000000" },
    ]
  },{
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      { "visibility": "simplified" },
      { "color": "#999999" }
    ]
  },{
    "featureType": "poi",
    "stylers": [
      { "color": "#fdd757" }
    ]
  },{
    "featureType": "poi.park",
    "stylers": [
      { "color": "#26D07C" }
    ]
  },{
    "featureType": "poi.school",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "landscape",
    "stylers": [
      { "color": "#eaecea" }
    ]
  },{
    "featureType": "water",
    "stylers": [
      { "color": "#cdeff8" }
    ]
  }
];

    var myLatLng = {lat: 59.914029, lng: 10.746296};

    if(window.innerWidth > 768){var drag = true}
    else{var drag = false};

    var options = {
        mapTypeControlOptions: {mapTypeIds: ['Styled']},
        center: myLatLng,
        zoom: 14,
        scrollwheel: false,
        draggable: drag,
        disableDefaultUI: true,
        zoomControl: true,
        mapTypeId: 'Styled'
    };

    var div = document.getElementById('map');
    var map = new google.maps.Map(div, options);
    var styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled' });
    map.mapTypes.set('Styled', styledMapType);

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: '{% static "img/marker.svg" %}',
        size: new google.maps.Size(43, 116),
        scaledSize: new google.maps.Size(21.5, 58),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 21.5)


    });

};
</script>

{% endblock %}
