{% extends "base.html" %}

{% load staticfiles %}

{% block title %}blank.no - jobb{% endblock %}
{% block content %}


{% block intro %}{% endblock %}

<div class="container nopad ">

{% block posting %}{% endblock %}

      <!-- YELLOWBOX START -->
      <div class="spacing">
        <div class="third mobilefull right bggray-light">
          <div class="box">
            <h3 class="headingMedium">Hos oss får alle</h3>
            <ul class="textlist">
              <li>tilbud om medeierskap
                <li>være med å bestemme egne oppdrag og teamsammensetning</li>
                <li>god lønn, overtidsbetalt og en andel av overskuddet som bonus</li>
                <li>gode pensjons- og forsikringsordninger</li>
                <li>ta del i et særdeles sterkt fagmiljø med flotte mennesker</li>
                <li>være med å forme et nytt og litt annerledes konsulentselskap</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- YELLOWBOX END -->


        <!-- CONTACT START -->
        <div id="jobbend" class="third mobilefull right bggray-light">
          <div class="full">
            <div class="box">
              <h3 class="headingMedium">Vil du vite mer..</h3>
              <p>..eller har du lyst til å komme innom for en kaffe og en uformell prat? Ta gjerne kontakt, vi gleder oss til å bli kjent med deg.</p><br>

              <div class="full smallhalf mobiletwothirds nomargin right">
                {% if team = 'teknologi' %}
                  <div class="line half mobilethird bgblue"></div>
                {% elif team = 'brukeropplevelse' %}
                  <div class="line half mobilethird bgred"></div>
                {% else %}
                  <div class="line half mobilethird bgyellow"></div>
                {% endif %}
                <p>{{ category.hiring_manager.name }}<br>
                  <a href="mailto:{{ category.hiring_manager.email }}" class="textlink">{{ category.hiring_manager.email }}</a><br>
                  {{ category.hiring_manager.phone }}<br></p>
                  <div class="smallicon left">
                    <a href="https://www.linkedin.com/in/{{ category.hiring_manager.linkedin_username }}" target="_blank" title="{{ category.hiring_manager.name }} p&aring; linkedIn (&aring;pnes i et nytt vindu)">
                      <svg id="linkedin" viewBox="0 0 100 100">
                      <style type="text/css">.st0{fill:#262626;}</style>
                      <path class="st0" d="M-100,0v100H0V0H-100z M-22.8,35.6c0,0.6,0,1.2,0,1.8c0,18.3-13.9,39.4-39.4,39.4c-7.8,0-15.1-2.3-21.2-6.2  c1.1,0.1,2.2,0.2,3.3,0.2c6.5,0,12.5-2.2,17.2-5.9c-6.1-0.1-11.2-4.1-12.9-9.6c0.8,0.2,1.7,0.2,2.6,0.2c1.3,0,2.5-0.2,3.6-0.5  c-6.3-1.3-11.1-6.9-11.1-13.6c0-0.1,0-0.1,0-0.2c1.9,1,4,1.7,6.3,1.7c-3.7-2.5-6.2-6.7-6.2-11.5c0-2.5,0.7-4.9,1.9-7  c6.8,8.4,17,13.9,28.5,14.5c-0.2-1-0.4-2.1-0.4-3.2c0-7.6,6.2-13.8,13.9-13.8c4,0,7.6,1.7,10.1,4.4c3.2-0.6,6.1-1.8,8.8-3.4  c-1,3.2-3.2,5.9-6.1,7.7c2.8-0.3,5.5-1.1,8-2.2C-17.7,31.2-20.1,33.7-22.8,35.6z"/>
                      <path class="st0" d="M0,0v100h100V0H0z M34.3,76.8H22.9V40.3h11.4V76.8z M28.6,35.3c-3.6,0-6.6-2.9-6.6-6.6c0-3.6,2.9-6.6,6.6-6.6  c3.6,0,6.6,2.9,6.6,6.6C35.2,32.4,32.3,35.3,28.6,35.3z M76.8,76.8H65.5V59.1c0-4.2-0.1-9.7-5.9-9.7c-5.9,0-6.8,4.6-6.8,9.4v18.1  H41.4V40.3h10.9v5h0.2c1.5-2.9,5.2-5.9,10.7-5.9c11.5,0,13.6,7.6,13.6,17.4V76.8z"/>
                    </svg>
                  </a>
                </div>
              </div>

              <div class="full smallhalf mobilethird nomargin left">
                <img class="square" src="{{category.hiring_manager.image.url}}" alt="{{ category.hiring_manager.name }}">
              </div>

            </div>
          </div>
        </div>


        <!-- CONTACT END -->
        {% if team = 'brukeropplevelse' %}
        <div class="third mobilefull right">
          <div class="col-img">
            <img src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e35/17127167_619645184894823_8622862310962102272_n.jpg">
            <video controls onclick="this.play()" poster="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e15/13298152_252008221823711_528250384_n.jpg">
              <source src="https://scontent-arn2-1.cdninstagram.com/t50.2886-16/13309929_514114848773830_709691351_n.mp4" type="video/mp4">
            </video>
            <img src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e35/17076424_1809444789306376_1265948555458117632_n.jpg">
            <img src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e35/13108896_1769133063316615_1387666404_n.jpg">
            <video controls onclick="this.play()" poster="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e15/13117844_1720646014869895_96724920_n.jpg">
              <source src="https://scontent-arn2-1.cdninstagram.com/t50.2886-16/13107638_149812745420864_67343497_n.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        {% endif %}

      </div>
      <div class="container" id="end">
      </div>

      {% endblock %}
