{% extends "base.html" %}

{% load staticfiles %}

{% block title %}blank.no - jobb{% endblock %}
{% block content %}


<div class="full">
  <div class="container">

  </div>
</div>

<!-- INTRO END -->

<div class="container nopad ">

  <!-- LEVER IMPORT -->
  <div id="jobs-list" class="twothirds left mobilefull">
    <div class="full spacing bgfff">
      <div class="boxbig">
        <div class="icontop"><img class="bigicon" src="{% static "img/iconblack-04.svg" %}" alt="menneskerikon"></div>
        <h3 class="headingMedium">{{ text }}</h2>
          <div class="third line bgblue"></div>
          <div class="description">{% autoescape off %}{{ description }}{% endautoescape %} </div>
          <a class="button bgblue half left mobilefull" href="'+skjemaUrl+'?id='+posting.id+'">Søk på stillingen</a>
        </div>


      </div>
    </div>
      <!-- LEVER END -->

      <!-- YELLOWBOX START -->
      <div class="spacing">
        <div class="third mobilefull right bgyellow-light">
          <div class="box">
            <h3 class="headingMedium">Hos oss får alle</h3>
            <ul class="textlist">
              <li>tilbud om medeierskap
                <li>være med å bestemme egne oppdrag og teamsammensetning</li>
                <li>god lønn, overtidsbetalt og bonus som en andel av overskuddet</li>
                <li>gode pensjons- og forsikringsordninger</li>
                <li>ta del i et særdeles sterkt fagmiljø med flotte mennesker</li>
                <li>være med å forme et nytt og litt annerledes konsulentselskap</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- YELLOWBOX END -->


        {% block contact %}{% endblock %}
        
      </div>
      <div class="container" id="end">
      </div>

      {% endblock %}
