{% extends "web/posting_base.html" %}
{% load staticfiles %}

{% block intro %}
{% if team = 'teknologi' %}
  <div class="full bgblue-light">
{% elif team = 'brukeropplevelse' %}
  <div class="full bgred-light">
{% else %}
  <div class="full bgyellow-light">
{% endif %}
  <div class="container">
    <div class="twothirds mobilefull left">
      <div class="boxbig">
        <div class="icontop">
          {% if team = 'teknologi' %}
            <img class="bigicon" src="{% static "img/iconblack-02.svg" %}">
          {% elif team = 'brukeropplevelse' %}
            <img class="bigicon" src="{% static "img/iconblack-01.svg" %}">
          {% else %}
            <img class="bigicon" src="{% static "img/iconblack-03.svg" %}">
          {% endif %}
        </div>
        <h1 class="headingLarge">{{ category.title }}</h1>
        <p class="lead">{{ category.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block posting %}

<div id="jobs-list" class="twothirds left mobilefull">
  {% for posting in team_postings %}
  <div class="full spacing bgfff">
    <div class="boxbig">
      <div class="icontop">
        <img class="bigicon" src="{% static "img/iconblack-04.svg" %}" alt="menneskerikon"></div>
      <h3 class="headingMedium">{{posting.text}}</h3>
      {% if team = 'teknologi' %}
        <div class="third line bgblue"></div>
      {% elif team = 'brukeropplevelse' %}
        <div class="third line bgred"></div>
      {% else %}
        <div class="third line bgyellow"></div>
      {% endif %}
      <div class="description">{% autoescape off %}{{posting.description}}{% endautoescape %}</div>
      <div class="apply">Send søknad på mail til <a href="mailto:{{category.hiring_manager.email}}" >{{category.hiring_manager.email}}</a>, eller bruk skjema.</div>
      {% if team = 'teknologi' %}
        <a class="button bgblue half left mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/{{posting.id}}/apply">Søk på stillingen</a>
      {% elif team = 'brukeropplevelse' %}
        <a class="button bgred half left mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/{{posting.id}}/apply">Søk på stillingen</a>
      {% else %}
        <a class="button bgyellow half left mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/{{posting.id}}/apply">Søk på stillingen</a>
      {% endif %}

    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
