{% extends "web/posting_base.html" %}
{% load staticfiles %}

{% block intro %}
<div class="full">
  <div class="container">

  </div>
</div>
{% endblock %}

{% block posting %}

<div id="jobs-list" class="twothirds left mobilefull">
  <div class="full spacing bgfff">
    <div class="boxbig">
      <div class="icontop">
        <img class="bigicon" src="{% static "img/iconblack-04.svg" %}" alt="menneskerikon"></div>
      <h3 class="headingMedium">{{posting.text}}</h3>
      <div class="third line bgblue"> </div>
      <div class="description">{% autoescape off %}{{posting.description}}{% endautoescape %}</div>
      <div class="apply">Send søknad på mail til <a href="mailto:{{category.hiring_manager.email}}" >{{category.hiring_manager.email}}</a>, eller bruk skjema.</div>
      <a class="button bgblue half left mobilefull" target="_blank" href="https://jobs.lever.co/blankoslo/{{posting.id}}/apply">Søk på stillingen</a>
    </div>
  </div>
</div>

{% endblock %}
